#root {
  .App {
    .about {
      .content {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $serif_font;
      }
    }
  }
}
