#root {
  .App {
    .home {
      .content {
        width: 364px;
        height: 364px;
        margin: 0 auto;
        content: '';
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
    }
  }
}
