#root {
  .App {
    .projects {
      .content {
        --x: 0;
        --y: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        height: 80%;
        width: 80%;

        .project-box {
          flex-direction: row;
          display: flex;
          align-items: center;
          padding: 0 30px;
          height: 90%;

          .project {
            width: 50%;
            height: 70%;
            margin: auto;
          }

          .project.example {
            height: 60%;
            content: '';
            box-shadow: rgba(50, 50, 93, 0.25) var(--x) var(--y) 100px -20px,
              rgba(0, 0, 0, 0.3) var(--x) var(--y) 60px -30px;
          }

          .project.description {
            font-family: $serif_font;
            height: 60%;
            position: relative;

            .description-sack {
              padding: 10px 20px 20px;
              height: 100%;
              margin: auto;
              overflow-y: scroll;

              p {
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }

        .paginator {
          height: 10%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: $serif_font;
        }
      }
    }
  }
}
