@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1) rotate(45deg);
  }
  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9) rotate(45deg);
  }
  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9) rotate(45deg);
  }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1) rotate(45deg);
  }
}
@keyframes bounceAlphaLeft {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1) rotate(45deg);
  }
  25% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9) rotate(45deg);
  }
  26% {
    opacity: 0;
    transform: translateX(10px) scale(0.9) rotate(45deg);
  }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1) rotate(45deg);
  }
}

#root {
  .App {
    overflow: hidden;

    .projects {
      overflow: hidden;

      .content {
        --x: 0;
        --y: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        height: 100%;
        width: 80%;

        .thumb-vertical {
          background-color: transparent;
          box-shadow: 0 0 5px rgba(50, 50, 93, 0.4);
          border-radius: 10px;
          z-index: 1000;
        }

        .projects-box {
          padding: 10px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;

          .project-showcase {
            cursor: pointer;
            width: calc(1980px / 6);
            height: calc(1180px / 6);
            box-shadow: rgba(50, 50, 93, 0.5) var(--x) var(--y) 50px -20px;
            border: 10px solid $bg;
            content: '';
            margin: 20px;
            font-family: $serif_font;

            @include media('<ipad') {
              width: calc(1640px / 6);
              height: calc(940px / 6);
              position: relative;
            }

            .proj-img {
              cursor: pointer;
              background-size: contain;
              background-position: center center;
              background-repeat: no-repeat;
              padding: 20px;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;

              @media (hover: hover) {
                &:hover {
                  div {
                    letter-spacing: 1px;
                  }
                }
              }

              div {
                white-space: nowrap;
                cursor: pointer;
                background-color: $bg;
                width: max-content;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                padding: 8px 25px;
                transform: translate3d(40px, 8px, 0);
                box-shadow: 0px 0px 20px -8px rgba(8, 9, 15, 0.5);
                transition: letter-spacing 3s cubic-bezier(0.25, 1, 0.5, 1);
              }
            }
          }
        }

        .project-box {
          flex-direction: column;
          display: flex;
          align-items: center;
          padding: 0 30px;
          height: 90%;
          width: 100%;

          h2 {
            padding-top: 20px;
            margin: 0;
            margin-bottom: 10px;
          }

          @include media('<ipad') {
            flex-direction: column;
            padding: 0 10px;
          }

          .proj-details {
            flex-direction: row;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            height: 100%;

            @include media('<ipad') {
              align-items: center;
              justify-content: center;
              flex-direction: column;
            }
          }

          .project.example {
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            // width: calc(1740px / 3);
            // height: calc(1040px / 3);
            --height: calc(1010px / 3);
            width: 50%;
            height: var(--height);
            content: '';
            margin: auto;
            display: flex;
            align-items: center;

            @include media('<ipad') {
              position: relative;
              z-index: 100;
              margin-bottom: 20px;
              width: 100%;
              height: 40%;
            }

            img {
              margin: auto;

              @include media('<ipad') {
                position: relative;
                z-index: 100;
                width: 100%;
              }
            }
          }

          .project.description {
            font-family: $serif_font;
            width: 50%;
            --height: 80%;
            height: var(--height);
            position: relative;
            margin: auto;
            overflow: hidden;

            @include media('<ipad') {
              height: 50%;
              width: 100%;
            }

            .description-sack {
              padding: 8px 0 8px 30px;
              height: auto;
              margin: auto;
              padding-right: 10px;
              overflow-x: hidden;

              @include media('<ipad') {
                padding: 5px 5px 8px 5px;
              }

              p {
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }

          .proj-links {
            margin-bottom: 10px;

            a {
              font-family: $serif_font;
              display: inline-block;
              letter-spacing: 1px;
              margin: 0 20px;
            }
          }
        }

        .paginator {
          height: 10%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: $serif_font;
          width: 100%;

          .to-dashboard-link {
            font-family: $sans_font;
            margin-left: 50px;
            letter-spacing: 1px;
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
            transition: letter-spacing 3s cubic-bezier(0.25, 1, 0.5, 1);

            @include media('<ipad') {
              margin-left: 25px;
            }

            @media (hover: hover) {
              &:hover {
                letter-spacing: 10px;
              }
            }
          }

          .filler {
            letter-spacing: 1px;
            font-family: $sans_font;
            visibility: hidden;
            pointer-events: none;
            margin-right: 50px;
            height: 100%;
            display: flex;
            align-items: center;
            transition: letter-spacing 3s cubic-bezier(0.25, 1, 0.5, 1);

            @include media('<ipad') {
              margin-right: 25px;
            }
          }

          div {
            margin: 0 10px;
          }

          .pages {
            display: flex;
            justify-content: center;
            align-items: center;

            .pages {
              @include media('<ipad') {
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;

                .dash {
                  padding-top: 2px;
                  line-height: 2px;
                }
              }
            }

            .bounceAlpha {
              animation-name: bounceAlpha;
              animation-duration: 1.4s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
            }

            .left,
            .right {
              cursor: pointer;
              position: relative;
              width: 26px;
              height: 26px;
              opacity: 0.7;
              display: flex;
              margin: 0;

              .arrow {
                cursor: pointer;
                content: '';
                border-top: 1px solid $font;
                border-right: 1px solid $font;
                width: 50%;
                height: 50%;
                margin: auto;
                transform: rotate(45deg);
              }

              @media (hover: hover) {
                &:hover {
                  .arrow {
                    animation-name: bounceAlpha;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
                  }
                }
              }
            }

            .left {
              .arrow {
                border-top: unset;
                border-right: unset;
                border-left: 1px solid $font;
                border-bottom: 1px solid $font;
              }
              @media (hover: hover) {
                &:hover {
                  .arrow {
                    animation-name: bounceAlphaLeft;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.desc-link {
  font-family: $serif_font !important;
  text-decoration: underline !important;
  font-weight: normal !important;
}
