#root {
  .App {
    .projects {
      .content {
        --x: 0;
        --y: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        height: 80%;
        width: 80%;

        .thumb-vertical {
          background-color: transparent;
          box-shadow: 0 0 5px rgba(50, 50, 93, 0.25);
          border-radius: 10px;
          margin: 0 -5px;
          z-index: 1000;
        }

        .projects-box {
          padding: 10px;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;

          .project-showcase {
            width: calc(1920px / 5);
            height: calc(1080px / 5);
            box-shadow: rgba(50, 50, 93, 0.25) var(--x) var(--y) 50px -20px;
            content: '';
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .project-box {
          flex-direction: row;
          display: flex;
          align-items: center;
          padding: 0 30px;
          height: 90%;

          .project {
            width: 50%;
            height: 70%;
            margin: auto;
          }

          .project.example {
            height: 60%;
            content: '';
            box-shadow: rgba(50, 50, 93, 0.25) var(--x) var(--y) 100px -20px,
              rgba(0, 0, 0, 0.3) var(--x) var(--y) 60px -30px;
          }

          .project.description {
            font-family: $serif_font;
            height: 60%;
            position: relative;

            .description-sack {
              padding: 8px 20px;
              height: 100%;
              margin: auto;

              p {
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }

        .paginator {
          height: 10%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: $serif_font;

          div {
            margin: 0 10px;
          }
        }
      }
    }
  }
}
